body {
    background: #3b3b3c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
    background-color: white;
    border-radius: 5px;
    width: 1050px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 30%;
}

.form__title {
    width: 100%;
    font-family: Arial, sans-serif;
    /* 设置字体 */
    font-size: 20px;
    font-weight: bold;
    background-color: #747171;
}

.form__title2 {
    width: 100%;
    font-family: Arial, sans-serif;
    color: aliceblue;
    font-size: 14px;
    background-color: #747171;
}

.form_input {
    width: 70%;
}

.form_select {
    width: 70%;
}

.footer {
    text-align: center;
}